In [1]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_csv("/Users/jingchengwu/Desktop/LBS/Data Viz/GroupProject/ClassPollResults.csv")

In [49]:
answers = df.iloc[:, 17:38]
answers.head()

,Q2_1,Q2_2,Q2_3,Q2_4,Q2_5,Q2_6,Q2_7,Q3_0_GROUP,Q3_0_1_RANK,Q3_0_2_RANK,...,Q3_0_4_RANK,Q3_0_5_RANK,Q3_0_6_RANK,Q3_0_7_RANK,Q3_0_8_RANK,Q3_0_9_RANK,Q3_0_10_RANK,Q3_0_11_RANK,Q3_0_12_RANK,Q4
0,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,"Finally, would you like to nominate another ci..."
1,"{""ImportId"":""QID20_1""}","{""ImportId"":""QID20_2""}","{""ImportId"":""QID20_3""}","{""ImportId"":""QID20_4""}","{""ImportId"":""QID20_5""}","{""ImportId"":""QID20_6""}","{""ImportId"":""QID20_7""}","{""ImportId"":""QID21_0_GROUP""}","{""ImportId"":""QID21_G0_1_RANK""}","{""ImportId"":""QID21_G0_2_RANK""}",...,"{""ImportId"":""QID21_G0_4_RANK""}","{""ImportId"":""QID21_G0_5_RANK""}","{""ImportId"":""QID21_G0_6_RANK""}","{""ImportId"":""QID21_G0_7_RANK""}","{""ImportId"":""QID21_G0_8_RANK""}","{""ImportId"":""QID21_G0_9_RANK""}","{""ImportId"":""QID21_G0_10_RANK""}","{""ImportId"":""QID21_G0_11_RANK""}","{""ImportId"":""QID21_G0_12_RANK""}","{""ImportId"":""QID19_TEXT""}"
2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,NaN,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,4,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich

In [50]:
for i in range(7):
    old_column_name = answers.columns[i]
    answers = answers.rename(columns={old_column_name: answers.iloc[0,i].split('-')[1]})

In [51]:
answers = answers.rename(columns={'Q3_0_GROUP':'Top5'})
answers.head()

,Sustainability,Public transport,Employment,Cost of living,Weather,Safety / crime rate,Social,Top5,Q3_0_1_RANK,Q3_0_2_RANK,...,Q3_0_4_RANK,Q3_0_5_RANK,Q3_0_6_RANK,Q3_0_7_RANK,Q3_0_8_RANK,Q3_0_9_RANK,Q3_0_10_RANK,Q3_0_11_RANK,Q3_0_12_RANK,Q4
0,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,"Finally, would you like to nominate another ci..."
1,"{""ImportId"":""QID20_1""}","{""ImportId"":""QID20_2""}","{""ImportId"":""QID20_3""}","{""ImportId"":""QID20_4""}","{""ImportId"":""QID20_5""}","{""ImportId"":""QID20_6""}","{""ImportId"":""QID20_7""}","{""ImportId"":""QID21_0_GROUP""}","{""ImportId"":""QID21_G0_1_RANK""}","{""ImportId"":""QID21_G0_2_RANK""}",...,"{""ImportId"":""QID21_G0_4_RANK""}","{""ImportId"":""QID21_G0_5_RANK""}","{""ImportId"":""QID21_G0_6_RANK""}","{""ImportId"":""QID21_G0_7_RANK""}","{""ImportId"":""QID21_G0_8_RANK""}","{""ImportId"":""QID21_G0_9_RANK""}","{""ImportId"":""QID21_G0_10_RANK""}","{""ImportId"":""QID21_G0_11_RANK""}","{""ImportId"":""QID21_G0_12_RANK""}","{""ImportId"":""QID19_TEXT""}"
2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,NaN,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,4,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich

In [56]:
rename_mapping = {}
for i in range(8, answers.shape[1] - 1):
    old_column_name = answers.columns[i]
    new_column_name = "-".join(answers.iloc[0, i].split('-')[-2:]).strip()
    rename_mapping[old_column_name] = new_column_name

answers = answers.rename(columns=rename_mapping)
answers.head()

,Sustainability,Public transport,Employment,Cost of living,Weather,Safety / crime rate,Social,Top5,New York - Rank,San Francisco - Rank,...,Berlin - Rank,Paris - Rank,Copenhagen - Rank,Dubai - Rank,Singapore - Rank,Shanghai - Rank,Tokyo - Rank,Mumbai - Rank,Sydney - Rank,Q4
0,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,"Finally, would you like to nominate another ci..."
1,"{""ImportId"":""QID20_1""}","{""ImportId"":""QID20_2""}","{""ImportId"":""QID20_3""}","{""ImportId"":""QID20_4""}","{""ImportId"":""QID20_5""}","{""ImportId"":""QID20_6""}","{""ImportId"":""QID20_7""}","{""ImportId"":""QID21_0_GROUP""}","{""ImportId"":""QID21_G0_1_RANK""}","{""ImportId"":""QID21_G0_2_RANK""}",...,"{""ImportId"":""QID21_G0_4_RANK""}","{""ImportId"":""QID21_G0_5_RANK""}","{""ImportId"":""QID21_G0_6_RANK""}","{""ImportId"":""QID21_G0_7_RANK""}","{""ImportId"":""QID21_G0_8_RANK""}","{""ImportId"":""QID21_G0_9_RANK""}","{""ImportId"":""QID21_G0_10_RANK""}","{""ImportId"":""QID21_G0_11_RANK""}","{""ImportId"":""QID21_G0_12_RANK""}","{""ImportId"":""QID19_TEXT""}"
2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,NaN,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,4,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich

In [59]:
answers = answers.rename(columns={'Q4':'Nomination'})
answers.head()

,Sustainability,Public transport,Employment,Cost of living,Weather,Safety / crime rate,Social,Top5,New York - Rank,San Francisco - Rank,...,Berlin - Rank,Paris - Rank,Copenhagen - Rank,Dubai - Rank,Singapore - Rank,Shanghai - Rank,Tokyo - Rank,Mumbai - Rank,Sydney - Rank,Nomination
0,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please rank the following aspects in order of ...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,Please select your top 5 preferred cities to l...,"Finally, would you like to nominate another ci..."
1,"{""ImportId"":""QID20_1""}","{""ImportId"":""QID20_2""}","{""ImportId"":""QID20_3""}","{""ImportId"":""QID20_4""}","{""ImportId"":""QID20_5""}","{""ImportId"":""QID20_6""}","{""ImportId"":""QID20_7""}","{""ImportId"":""QID21_0_GROUP""}","{""ImportId"":""QID21_G0_1_RANK""}","{""ImportId"":""QID21_G0_2_RANK""}",...,"{""ImportId"":""QID21_G0_4_RANK""}","{""ImportId"":""QID21_G0_5_RANK""}","{""ImportId"":""QID21_G0_6_RANK""}","{""ImportId"":""QID21_G0_7_RANK""}","{""ImportId"":""QID21_G0_8_RANK""}","{""ImportId"":""QID21_G0_9_RANK""}","{""ImportId"":""QID21_G0_10_RANK""}","{""ImportId"":""QID21_G0_11_RANK""}","{""ImportId"":""QID21_G0_12_RANK""}","{""ImportId"":""QID19_TEXT""}"
2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,NaN,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,4,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich

In [60]:
answers = answers.iloc[2:]

,Sustainability,Public transport,Employment,Cost of living,Weather,Safety / crime rate,Social,Top5,New York - Rank,San Francisco - Rank,...,Berlin - Rank,Paris - Rank,Copenhagen - Rank,Dubai - Rank,Singapore - Rank,Shanghai - Rank,Tokyo - Rank,Mumbai - Rank,Sydney - Rank,Nomination
2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,NaN,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,4,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich
5,6,4,3,5,7,2,1,"Dubai,London,Mumbai,Tokyo,Singapore",NaN,NaN,...,NaN,NaN,NaN,1,5,NaN,4,3,NaN,Chicago
6,4,7,6,5,1,3,2,"Mumbai,San Francisco,New York,Tokyo,Dubai",3,2,...,NaN,NaN,NaN,5,NaN,NaN,4,1,NaN,Indore

In [61]:
answers = answers.reset_index()
answers.head()

,index,Sustainability,Public transport,Employment,Cost of living,Weather,Safety / crime rate,Social,Top5,New York - Rank,...,Berlin - Rank,Paris - Rank,Copenhagen - Rank,Dubai - Rank,Singapore - Rank,Shanghai - Rank,Tokyo - Rank,Mumbai - Rank,Sydney - Rank,Nomination
0,2,7,2,1,3,4,6,5,"London,New York,Singapore,Shanghai,Tokyo",2,...,NaN,NaN,NaN,NaN,3,4,5,NaN,NaN,Hong Kong
1,3,7,5,1,6,2,3,4,"Sydney,Singapore,London,San Francisco,New York",5,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1,NaN
2,4,7,5,1,4,6,3,2,"London,New York,Sydney,San Francisco,Tokyo",2,...,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,3,Zurich
3,5,6,4,3,5,7,2,1,"Dubai,London,Mumbai,Tokyo,Singapore",NaN,...,NaN,NaN,NaN,1,5,NaN,4,3,NaN,Chicago
4,6,4,7,6,5,1,3,2,"Mumbai,San Francisco,New York,Tokyo,Dubai",3,...,NaN,NaN,NaN,5,NaN,NaN,4,1,NaN,Indore

In [62]:
answers.to_csv('Cleaned_PollResults.csv')